footer {
  background-color: #f13636;
  padding: 10px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* General styling for footer sections */
footer section {
  background: rgb(255, 30, 0);
  width: 300px;
  margin: auto;
  padding: 25px;
  border: 1px solid black;
  display: inline-block;
}

/* Styling for links inside footer */
footer a {
  background: rgb(255, 30, 0);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

footer a:hover, footer a:active {
  background: rgb(200, 20, 0);
}
